.fillContainer {
	position: relative;
	background-color: red;
}

.onTop {
	position: relative;
	z-index: 2;
	padding: 10px;
}

.fill {
	border-radius: 2%;
	height: 98%;
	width: 98%;
	background-color: inherit;
	position: absolute;
	animation: mymove 0.5s;
	animation-timing-function: cubic-bezier(0.7, 0, 1, 1);
	animation-fill-mode: forwards;
	z-index: -1;
}

@keyframes mymove {
	from {
		background-color: inherit;
		transform: scale(0.5, 0.5); /* Standard syntax */
	}
	to {
		background-color: green;
		transform: scale(1, 1); /* Standard syntax */
	}
}
